* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

.logo-mario {
  height: 200px;
}

button {
  border-radius: 5px;
  background-color: #c51111;
  color: aliceblue;
  border: none;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 50px;
}

button:hover {
  opacity: 0.7;
  transition: 0.5s ease-in-out;
}

button:active {
  opacity: 0.4;
}

.mario-luigi {
  height: 500px;
}

body {
  height: 100vh;
}

.container-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px;
}

.container-left {
  width: 40%;
}

.container-video {
  position: fixed;
  top: 0;
  z-index: -1;
}

video {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
}

.mask {
  height: 100%;
  width: 100%;
  background:
    linear-gradient(109deg,
      rgba(10, 12, 16, 0.99) 15%,
      rgba(10, 12, 16, 0.7) 50%,
      rgba(10, 12, 16, 0.99) 85%);
  position: fixed;
  top: 0;
}

p {
  color: white;
  font-size: 23px;
}

.whatsapp {
  height: 60px;
  position: fixed;
  right: 8px;
  bottom: 15px;
}

.epigrafe {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 30px;
}

.epigrafe img {
  height: 100px;
}

.epigrafe a {
  color: white;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
}

.epigrafe a:hover {
  color: #c51111;
  font-size: 26px;
  transition: 0.5s ease-in-out;
}

.contact-us-form {
  background-color: #FFFFFF;
  height: 50%;
  display: flex;
  gap: 15px;
  flex-direction: column;
  position: fixed;
  top: 30%;
  left: -300px;
  padding: 20px;
  border-radius: 8px;
}

input {
  height: 80px;
  border-radius: 8px;
  border: 1px solid gray;
  outline-color: #c51111;
  padding-left: 5px;
}

textarea {
  width: 270px;
  height: 100px;
  border-radius: 8px;
  border: 1px solid gray;
  outline-color: #c51111;
  padding-left: 5px;
}

.form-mask {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(109deg,
      rgba(10, 12, 16, 0.99) 15%,
      rgba(10, 12, 16, 0.7) 50%,
      rgba(10, 12, 16, 0.99) 85%);
}

@media(max-width: 1100px) {

  p {
    display: none;
  }

  .container-main {
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
  }

  .container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mario-luigi {
    width: 80vw;
    height: auto;
  }

  .epigrafe {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .epigrafe img {
    display: none;
  }

  .epigrafe a {
    font-size: 20px;
  }
}